.blurBG {
    display: block;
    width: 100vw;
    height: calc(100vh - 200px);
    position:absolute;
    top: 100px;
    backdrop-filter: blur(10px);
}
.smileyBG {
    display: block;
    width: 100vw;
    height: calc(100vh - 200px);
    position:absolute;
    top: 100px;
    animation: filter-animation 2s infinite;
}


@keyframes filter-animation {
  0% {
    backdrop-filter: hue-rotate(0deg) invert(100%);
  }
  
  50% {
    backdrop-filter:  hue-rotate(180deg) invert(100%);
  }
  
  100% {
    backdrop-filter: hue-rotate(360deg) invert(100%);
  }
}