.genre-button {
	background-color:#00f289;
	border-radius:19px;
	border:1px solid #00bc6b;
	display:inline-block;
	cursor:pointer;
	color:#005925;
	font-family:'Roboto', sans-serif;
	font-size:17px;
	padding:10px 31px;
	text-decoration:none;
}
<<<<<<< HEAD

/* .genre-button.active{
background-color: chartreuse;
} */
=======
.genre-button:hover {
	background-color:#00e4f0;
}
.genre-button:active {
	position:relative;
	top:1px;
}
>>>>>>> 05fb1c0aefb0bd039b450fbbb23f369fb0962d4b


