.genres-container{
   /*  display: grid;
    grid-template-columns: (2,1fr); */
    /* justify-content: center; */
    

}
/* music-button-container{
    width: 440.19px;
    height: 521.78px;
} */
.genres-bloc{
    display: grid;
    grid-template-rows: repeat(6, 1fr)  ;
   /*  grid-gap: 50px; */
    width: 440.19px;
    height: 521.78px;
    
    /* padding: 0.5em; */
   
}

.genre-button {
    position: absolute;
	background-color:#00f289;
	border-radius:19px;
	border:1px solid #00bc6b;
	display:inline-block;
	cursor:pointer;
	color:#005925;
	font-family:'Roboto', sans-serif;
	font-size:2em;
	padding:1em 2em;
	text-decoration:none;
    width: 8em;
    height: 3em;
    align-items: center;
    position: absolute;
    left: 0%;
    top: 0%;
    
/* transform: rotate(19.59deg); */
}

/* .genre-button.active{
background-color: chartreuse;
} */
/* 
.rotate-button1{

}

.rotate-button2{
    
}

.rotate-button3{
    
}

.rotate-button4{
    
}

.rotate-button5{
    
}

.rotate-button6{
    
} */

/* /* GenreButtons */

/* position: absolute;
width: 440.19px;
height: 521.78px;
left: -39px;
top: 97px; */



/* /* GenreButtons */

/* position: absolute;
left: 33.8%;
right: -4.07%;
top: 0%;
bottom: 14.95%;

transform: rotate(19.59deg);

 *//*  */ 
/* JAZZ */

/* .rotate-button1{


color: #F8F8F8;

transform: rotate(60deg);
} */

/* AMBIENT */

/* .rotate-button2{

color: #F5F5F5;

transform: rotate(30deg);
}

/* TECHNO */

/* .rotate-button3{



color: #F5F5F5;

transform: rotate(-5.99deg);
} */ /* */ 

/* METAL */

/* .rotate-button4{



color: #F5F5F5;

transform: rotate(-27.47deg);
}

/* PUNK */

/* .rotate-button5{

color: #F5F5F5;

transform: rotate(-42.15deg);

} */
 

/* Reggae */

/* .rotate-button6{

color: #F5F5F5;

transform: rotate(-60.97deg);
} */


/* GenreButtons */


 


/* GenreButtons */



/* JAZZ */

.rotate-button1{
position: absolute;
left: 50%;
top: 5%;
transform: rotate(45deg);
}

/* AMBIENT */

.rotate-button2{
position: absolute;
left: 40%;
top: 25%;
transform: rotate(30deg);
}

/* TECHNO */
.rotate-button3{
position: absolute;
left: 33%;
top: 50%;
transform: rotate(15deg);
}

/* METAL */
.rotate-button4{
position: absolute;
left: 33%;
top: 75%;
transform: rotate(-15deg);
}

/* PUNK */
.rotate-button5{
position: absolute;
left: 40%;
top: 95%;
transform: rotate(-30deg);
}

/* REGGAE */
.rotate-button6{
position: absolute;
left: 50%;
top: 100%;
transform: rotate(-45deg);
}

.lottie-container{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    width: 1200px;
    height: 1200px;
    position:absolute;
   right: 0;
    bottom: 0%;
}