.guide-button a{
    
    margin: 1 rem 2rem;
    background-color: cornsilk;
    padding: 1rem 2rem;
    align-items: center;
    align-self: center;
    text-decoration: none;
    text-align: center;
    width: 60
} 

.guide-button a {
  
  text-decoration: none;
  
  

} 


a.guide{
    display: inline-block;
    font-size: 1rem;
    color: cornsilk;
    text-decoration: none;
    animation: fadeIn linear 2s;
    -webkit-animation: fadeIn linear 2s;
    -moz-animation: fadeIn linear 2s;
    -o-animation: fadeIn linear 2s;
    -ms-animation: fadeIn linear 2s;
  }
  
  @keyframes fadeIn {
    0%{opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0%{opacity:0;}
    100%{opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn{
    0% {opacity:0;}
    100% {opacity:1;}
  }
/* 
  guide-visible{
      opacity: 1;
  }

  guide-invisible{
      opacity: 0;
  } */