/* .page-container{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 40vh 30vh 30vh;
    height: 100vh;
}

.page-bloc{
    padding: 0.5em;
} */

h1{
    color: cornsilk;
    background-color: rgba(0, 0, 0, 0);
    margin-top: -20px;
}

.lottie-gif{
    width: 800px;
    height: 800px;
    position: absolute;
    top: 0;
}